<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h1>New list</h1>
      <%= render 'form', list: @list %>
      <%= link_to 'Back', lists_path, class: "btn btn-info"%>
    </div>
  </div>
</div>
