<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-classic-movies-00-index-new-1591823486.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-end my-3">
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary"%>
  </div>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <%= link_to list_path(@list) do %>
          <div class='card bookmark-card justify-content-center align-items-center'>
            <h3><%= bookmark.comment %></h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
